Align with CMS SignerInfo Digest from the CMS ML-DSA draft

See https://datatracker.ietf.org/doc/draft-salter-lamps-cms-ml-dsa/

The follow lines from the above draft should be added to Composite signature to make it clear that any type of Digest values can be used as long as they meet at least the security requirements in the recommended table:

From draft-salter-lamps-cms-ml-dsa:

 Choice of digest algorithm
   is up to the signer; algorithms for each parameter set are
   recommended below.


 Section 4 of [I-D.ietf-lamps-cms-sphincs-plus] describes how, when
   the content of a signed-data is large, performance may be improved by
   including signed attributes.  This is as true for ML-DSA as it is for
   SLH-DSA, although ML-DSA signature generation and verification is
   significantly faster than SLH-DSA.

SignerInfo content

   When using ML-DSA, the fields of a SignerInfo are used as follows:

   digestAlgorithm:  Per Section 5.3 of [RFC5652], the digestAlgorithm
      field identifies the message digest algorithm used by the signer,
      and any associated parameters.  To ensure collision resistance,
      the identified message digest algorithm SHOULD produce a hash
      value of a size that is at least twice the collision strength of
      the internal commitment hash used by ML-DSA.
      The SHAKE hash functions defined in [FIPS202] are used internally
      by ML-DSA, and hence the combinations in Table 1 are RECOMMENDED
      for use with ML-DSA.  [RFC8702] describes how SHAKE128 and
      SHAKE256 are used in CMS.  The id-shake128 and id-shake256 digest
      algorithm identifiers are used and the parameters field MUST be
      omitted.

            +=====================+==========================+
            | Signature algorithm | Message digest algorithm |
            +=====================+==========================+
            | ML-DSA-44           | SHAKE128                 |
            +---------------------+--------------------------+
            | ML-DSA-65           | SHAKE256                 |
            +---------------------+--------------------------+
            | ML-DSA-87           | SHAKE256                 |
            +---------------------+--------------------------+

              Table 1: Recommended message digest algorithms
                     for ML-DSA signature algorithms


Added the clarifying text in pull #72 