Composite signs CMS and [I-D.salter-lamps-cms-ml-dsa] compliance

The current version of [composite-sigs] declares CMS compliance with [I-D.salter-lamps-cms-ml-dsa]. However, [I-D.salter-lamps-cms-ml-dsa] says: When signed attributes are absent, ML-DSA (pure mode) signatures are computed over the content of the signed-data, where "content" of a signed-data is the value of the encapContentInfo eContent OCTET STRING. The tag and length octets are not included.

Whereas [composite-sigs]: When signed attributes are absent, the composite signature is computed over the message digest of the content. This is also consistent with the note:
Note: The Hash ML-DSA Composite identifiers are not included in this list because the message content is already digested before being passed to the Composite-ML-DSA.Sign() function.

In my opinion, we should maintain compliance with [I-D.salter-lamps-cms-ml-dsa], hence I propose the following changes in Chapter 8:

> Note: The Hash ML-DSA Composite identifiers are not included in this list because the message content is already digested before being passed to the Composite-ML-DSA.Sign() function.

Note: The Hash ML-DSA Composite identifiers are not included in this list because this algorithm operation mode is not provided in CMS, which is consistent with [I-D.salter-lamps-cms-ml-dsa].

>When signed attributes are absent, the composite signature is computed over the message digest of the content. When signed attributes are
> present, a hash is computed over the content using the hash function specified in Table 8, and then a message-digest attribute is constructed to
> contain the resulting hash value, and then the result of DER encoding the set of signed attributes, which MUST include a content-type attribute
> and a message-digest attribute, and then the composite signature is computed over the DER-encoded output. In summary:
>
> IF (signed attributes are absent)
>   THEN Composite-ML-DSA.Sign(Hash(content))
>   ELSE message-digest attribute = Hash(content);
> Composite-ML-DSA.Sign(DER(SignedAttributes))


When signed attributes are absent, ML-DSA (pure mode) signatures are computed over the content of the signed-data. The "content" of a signed-data is the value of the encapContentInfo eContent OCTET STRING. The tag and length octets are not included.

When signed attributes are present, a hash is computed over the content using the hash function specified in Table 8, and then a message-digest attribute is constructed to contain the resulting hash value, and then the result of DER encoding the set of signed attributes, which MUST include a content-type attribute and a message-digest attribute, and then the ML-DSA (pure mode) signature is computed over the DER-encoded output. In summary:

 IF (signed attributes are absent)
   THEN Composite-ML-DSA.Sign(content)
 ELSE message-digest attribute = Hash(content);
   Composite-ML-DSA.Sign(DER(SignedAttributes))

The traditional algorithm, on the other hand, computes a digest from the encapContentInfo eContent field using the digest function specified in Table 8 in both cases and either signs it (in the absence of signed attributes) or  - if there are signed attributes - places it in the signed attributes field as a message-digest attribute (next to at least the content-type attribute) and then calculates a digest (according to the digest algorithm in Table 8) from the signed attributes field and signs it.


I have realized that my proposal regarding the traditional algorithm and the occurrence of signed attributes requires some clarification. For the sake of clarity and consistency with the rest of the document, I propose the following self-correction:

> The traditional algorithm, on the other hand, computes a digest from the encapContentInfo eContent field using the digest 
> function specified in Table 8 in both cases and either signs it (in the absence of signed attributes) or - if there are signed 
> attributes - places it in the signed attributes field as a message-digest attribute (next to at least the content-type attribute) and
> then calculates a digest (according to the digest algorithm in Table 8) from the signed attributes field and signs it.

The traditional algorithm, on the other hand, computes a digest from the encapContentInfo eContent field using the digest function specified in Table 8 in both cases and either signs it (in the absence of signed attributes) or - if there are signed attributes - places it in the signed attributes field as a message-digest attribute (next to at least the content-type attribute) and then calculates a digest (according to the digest algorithm in Table 8) from the message M', which consists of the Domain separator value concatenated with the length of the context in bytes, the (optional) context, and the signed attributes field (message M), and signs it.

Hi,

I agree with @PiotrPopis, "the composite signature is computed over the message digest of the content" seems incorrect.

Additionally, there has probably been a discussion that I couldn't find, but I don't understand the reason why the non-pre-hash composites are actually the ones being standardized in CMS as opposed to pre-hash ones. I'd be happy if someone explained the reason. 

My issue stems from the fact that if I have a CMS signature with ECDSA with SHA256, then signatureAlgorithm value is "ECDSA with SHA256" (1.2.840.10045.4.3.2) and digestAlgorithm is set to "SHA256" (2.16.840.1.101.3.4.2.1).

If no message-digest is used (i.e. no signedAttributes), then the eContent bytes are the input into the "ECDSA with SHA256" blackbox. 
If message-digest is used, its value must be a SHA256 digest (because digestAlgorithm is set to SHA256) of the eContent. The bytes resulting from the encoding of signedAttributes are then the input into the "ECDSA with SHA256" blackbox. 
Therefore, the digestAlgorithm is just "hinting" the internal hash of the signatureAlgorithm (apparently its separate due to easier stream processing).

So, for non-pre-hash composites the digestAlgorithm seems to be undefined since ML-DSA is using SHAKE256 (which is also an XOF...)) and classical components (except Ed448) use something else. Therefore, it seems to be that pre-hash composites with explicitly "unified" hash function is the ideal fit for CMS. What am I missing?  

Note that my understanding is based on the current behaviour of BouncyCastle, which I assume is a compliant implementation (at least for classical signature now).

To be fair, I have the same understanding issue with https://datatracker.ietf.org/doc/draft-ietf-lamps-cms-ml-dsa/ so I must be missing something.

It would make sense if the digestAlgorithm is actually used for specifying the message-digest algorithm, but that seems to be contradicting the CMS RFC which implies (I think) that inside one SignerInfo there is just one hash function for all.

1. @Honzaik: I believe that the lack of pre-hash versions of algorithms in CMS is due to the following sentence from section 2 of RFC 8419: "Since HashEdDSA offers no benefit when signed attributes are present, only PureEdDSA is used with the CMS.". 
2. Assuming, following [I-D.salter-lamps-cms-ml-dsa], that we only use the PURE version of ML-DSA, then in my opinion the digest agorithm indications in Table 8 should be changed, since they refer only to the traditional component. My proposal assumes that these will be algorithms that are consistent with Table 1, and - in the case of id-MLDSA87-Ed448 - it will be SHAKE256 with 512-bit output to comply with RFC 8419 (only differences of table 8):
>         +-----------------------------------+----------------+
>         | id-MLDSA65-RSA3072-PSS        | SHA512           |
>          +----------------------------------+----------------+
>          | id-MLDSA65-RSA3072-PKCS15 | SHA512            |
>         +----------------------------------+-----------------+
>          | id-MLDSA65-RSA4096-PSS        | SHA512           |
>          +----------------------------------+-----------------+
>          | id-MLDSA65-RSA4096-PKCS15  | SHA512           |
>          +----------------------------------+-----------------+
>          | id-MLDSA65-ECDSA-P384         | SHA512            |
>          +----------------------------------+-----------------+
>          | id-MLDSA65-ECDSA-brainpoolP256r1 | SHA512  |
>          +----------------------------------+-----------------+
>           | id-MLDSA87-ECDSA-P384        | SHA512            |
>          +----------------------------------+-----------------+
>          | id-MLDSA87-ECDSA-brainpoolP384r1 | SHA512  |
>          +----------------------------------+-----------------+
>          | id-MLDSA87-Ed448                 | SHA512              |
>          +----------------------------------+-----------------+
         +-----------------------------------+----------------+
          | id-MLDSA65-RSA3072-PSS        | SHA256           |
          +----------------------------------+----------------+
          | id-MLDSA65-RSA3072-PKCS15 | SHA256            |
          +----------------------------------+-----------------+
          | id-MLDSA65-RSA4096-PSS        | SHA384           |
          +----------------------------------+-----------------+
          | id-MLDSA65-RSA4096-PKCS15  | SHA384           |
          +----------------------------------+-----------------+
          | id-MLDSA65-ECDSA-P384         | SHA384            |
          +----------------------------------+-----------------+
          | id-MLDSA65-ECDSA-brainpoolP256r1 | SHA256  |
          +----------------------------------+-----------------+
           | id-MLDSA87-ECDSA-P384        | SHA384            |
          +----------------------------------+-----------------+
          | id-MLDSA87-ECDSA-brainpoolP384r1 | SHA384  |
          +----------------------------------+-----------------+
          | id-MLDSA87-Ed448                 | SHAKE256           |
          +----------------------------------+-----------------+
> where:
>   *  SHA2 instantiations are defined in [FIPS180].

where:
   *  SHA2 instantiations are defined in [FIPS180]
   *  SHAKE256 with a 512-bit output value [FIPS202].

3. Section 9 contains composite algorithm identifiers that are consistent with the rest of the document, while Section 10 contains identifiers that are not consistent with Tables 1, 3 and 8 (PURE versions of ML-DSA) by adding a hash function to the identifier.
4. I think my proposal to clarify the traditional component in the second post of this issue is correct for RSA and ECDSA. I have some doubts whether it is also OK for ED25519 and Ed448. So please comment/suggest changes.

I think I understand the reason behind not using pre-hash versions of EdDSA and in that RFC they correctly say that the only possible digestAlgorithm is SHAKE256 for Ed448 because Ed448 internally uses it, so allowing other hash functions doesn't make sense (same applies for Ed25519 and SHA512).
 
Where I get confused is that in I-D.salter-lamps-cms-ml-dsa they only mention SHA512 which has nothing in common with pure ML-DSA as it internally uses SHAKE256 just like pure Ed448. I mean I understand why people want to use SHA-2 instead of the Keccak family, but my understanding is that digestAlgorithm inside CMS reflects the signature's (signatureAlgorithm) hash function, which is always SHAKE256 for pure ML-DSA unless it is a pre-hash ML-DSA with SHA512.

Your proposal is certainly more consistent, however, I still don't understand the logic behind I-D.salter-lamps-cms-ml-dsa which is the template for this draft, so I cannot comment further. The issue probably lies in my interpretation of what "digestAlgorithm" inside SignerInfo means.

A few months ago there was a discussion about the validity of using hash functions in a signature scheme other than those built into the signature algorithms. Several people pointed out that there is no simple and direct relationship between the hash function "built into" the algorithm and the hash implemented as part of the signature scheme. For example, smart cards implement the signature algorithm, while the message digest can be implemented in the application. What's more, some implementations at the application level use ready-made libraries with a signature algorithm and a hash algorithm, which does not necessarily mean that each library offers a separate hash mechanism with an algorithm built into the signature.

I am from Poland (Europe) and for us EdDSA is an "exotic" algorithm, not encountered in practical implementations at all. These algorithms are not listed in ALGO (ETSI TS 119 312), nor in SOGI-MRA publications (SOG-IS Crypto Evaluation Scheme Agreed Cryptographic Mechanisms). I take the position that composite signatures are supposed to reduce implementation overhead and be as closely compatible with other standards (RFC, FIPS, etc.) as possible. Hence, if RFC 8419 assumes SHAKE256 for Ed448 and [ I-D.salter-lamps-cms-ml-dsa ] assumes only PURE ML-DSA in CMS and SHA-512 for messageDigest, then in composite signatures we should use the same schemes for the corresponding elements.

@PiotrPopis, @Honzaik , 
thanks for pointing out the misaligment to [draft-ietf-lamps-cms-ml-dsa](https://datatracker.ietf.org/doc/draft-ietf-lamps-cms-ml-dsa/).

I agree that we need to feed the unhashed content to Composite-ML-DSA.Sign(). However, I do not get why you want to describe the handling for the ML-DSA and traditional algorithm separately. For an CMS application there is only one interface -the composite one- that controls both component algorithms.

As for the digestAlgorithm, the recent draft-ietf-lamps-cms-ml-dsa-02 changed the recommendation. Now SHA-512 MUST be supported for all versions of ML-DSA. Hence I would not follow your proposal but instead bump the hash for ML-DSA-44 to SHA-512.

I agree with your comment Jan...   The Composite Signature Sign() API is a black box made available from the crypto library.   It uses the composite private key and takes a message to produce the signature.   You just apply the composite signature algorithm as you would any other algorithm.   Since CMS already includes facilities to Digest the Data, that is done first.  I am ok with switching everything to SHA512 if that gives better aligned.    That means for the traditional algorithm the data ends up getting digested twice.  That is fine.  