Key usage bits differ from other recent RFCs

[Section 6.2](https://lamps-wg.github.io/draft-composite-sigs/draft-ietf-lamps-pq-composite-sigs.html#name-key-usage-bits) differs from [Section 5 of RFC  9881](https://www.rfc-editor.org/rfc/rfc9881.html#section-5) in a couple ways:

1. RFC 9881 says "the keyUsage extension MUST have at least one of the [signing] bits set", but the draft says "any combination of the [the signing bits] MAY be present". I read this as not setting any key usage bits is permitted, but perhaps I'm reading it wrong.
2. The draft is more restrictive than RFC 9881 in that it forbids keyCertSign in end entity certificates.

Likewise for [Section 5 of RFC 8410](https://datatracker.ietf.org/doc/html/rfc8410#section-5).

I think it would be useful to align the draft with the language in previously published RFCs, unless we have reason to believe that the previous language is not applicable to composite signatures or otherwise problematic.

Credit to @bwesterb for pointing out these differences.



Great catch!

1. I'll change "any combination of" to "at least one of".
2. 🤔 Why would you want keyCertSign in an EE cert? That said, that's already explicitly forbidden by 5280, so it's not actually more restrictive, it's just more ... repetitive? https://datatracker.ietf.org/doc/html/rfc5280.


Opinions? 
Should I just delete what we have and grab the entire section from 9881 verbatim? The major difference is that 9881 doesn't distinguish between CAs and EEs; it falls back to 5280 for that.


> Opinions? Should I just delete what we have and grab the entire section from 9881 verbatim? The major difference is that 9881 doesn't distinguish between CAs and EEs; it falls back to 5280 for that.

I would probably copy it verbatim, but I don't think there's any harm in being a little stricter than 9881.



👍 
I'll give the other authors (and Deb) a chance to comment before I update the PR.