Proposal amendments to Section 8 (CMS)

In the absence of signed attributes, the ML-DSA component (in CMS we use PURE mode only) does not use the "external" hash function, and only the traditional component uses it. It should be added that according to section 3.2 of RFC 8419, the algorithms: Ed25519 and Ed448 use the SHA512 and SHAKE256 hash functions respectively, but these hash functions are used as part of the private key signing operation (these are not "external" hash functions, although their identifiers are placed in the digestAlgorithm field of the SignerInfo sequence). 

In the case of signed attributes, the ML-DSA component computes a digest of the message using an external digest function to generate the messageDigest attribute, and then signs the data contained in the signedAttrs field (the field contains, among other things, the messageDigest attribute), using its "internal" digest function. The traditional component also computes the messageDigest using an external digest function, and then signs the data contained in the signedAttrs field, for which RSA and ECDSA use the same digest function (see RFC 8933), while EdDSA uses "internal" digest functions - see above.

In the SignedData structure, in the SignerInfo sequence, the digestAlgorithm field indicates the hash function used in the given electronic signature scheme - see section 5.3 of RFC 5652. In the case of composite signatures, there is a problem with using a single digestAlgorithm field to indicate - usually - two different hash functions: for the PQ component and for the traditional one.

It seems that there are generally two possible options to solve that problem:

(1) indicating in the [pg-composite-signs] document that the digestAlgorithm field applies only to the ML-DSA component (where in the absence of signed attributes its content has no meaning), and the hash function for the traditional component is indicated indirectly in the signatureAlgorithm field (not in accordance with the literal wording of RFC 5652) or

(2) defining special OIDs to indicate a pair of hash algorithms, the first of which would apply to the PQ component and the second to the traditional one. In the case of always entering that special OID of the "composite hash function" in the absence of signed attributes, it would be necessary to specify that the first algorithm has no meaning (this is "version a" below). An alternative approach could also be considered, in which the OID indicating the "composite hash function" would be entered into the digestAlgorithm field only in the case of signed attributes, and in the absence of signed attributes, the OID of the single hash function would be entered, which in this case would apply only to the traditional component (this is "version b" below). 

This option (2) would be literally consistent with the description of the digestAlgorithm field in RFC 5652, but would require verifying applications to recognize additional OIDs (at least when signed attributes are encountered, which is usual case). 

My personal opinion is that both options are OK, but if I had a choice, I would prefer option (2) in version b. That solution is consistent with the general approach to "compositeness", where the change in one element is such that in the traditional approach the element points to a single algorithm, and in the composite approach this element points to two algorithms.

**Proposal for option (1):**
Section 8.2
(...)
> When signed attributes are present, a hash is computed over the content using the hash
> function specified in Section 8.1, and then a message-digest attribute is constructed to contain 
> the resulting hash value, and then the result of DER encoding the set of signed attributes, 
> which MUST include a content-type attribute and a message-digest attribute, and then the 
> composite signature is computed over the DER-encoded output.  In summary:

When signed attributes are present, a hash is computed over the content using the hash function specified in Section 8.1 for the ML-DSA component and the hash function specified in the column “Second Algorithm” of table 2 for traditional component, and then a message-digest attribute is constructed to contain the resulting hash value, and then the result of DER encoding the set of signed attributes, which MUST include a content-type attribute and a message-digest attribute, and then the composite signature is computed over the DER-encoded output.  In summary:
(…)

> digestAlgorithm: Per Section 5.3 of [RFC5652], the digestAlgorithm
> contains the one-way hash function used by the CMS signer.  To ensure
>  collision resistance, the identified message digest algorithm SHOULD
>  produce a hash value of a size that is at least twice the collision
>  strength of the internal commitment hash used by ML-DSA component
>  algorithm of the Composite Signature.

digestAlgorithm: Per Section 5.3 of [RFC5652], the digestAlgorithm contains the one-way hash function used by the CMS signer and this directly applies to the ML-DSA component. To ensure collision resistance, the identified message digest algorithm SHOULD produce a hash value of a size that is at least twice the collision strength of the internal commitment hash used by the ML-DSA component algorithm of the Composite Signature. Hash algorithm used by the CMS signer in the case of traditional component is indicated indirectly by the signatureAlgorithm field, what is shown in the table x and y below:

![Image](https://github.com/user-attachments/assets/567aff3a-68b1-4638-bf4c-d63332228d10)
Table x: Component’s hash algorithms in CMS without signed attributes
Note: In the case of the EdDSA, the indicated hash algorithms are used as part of the private key
         signing operation.

![Image](https://github.com/user-attachments/assets/f898db4e-052d-451b-b008-7eb4ef53b499)
                 Table y: Component’s hash algorithms in CMS with signed attributes
Note:	In the case of the EdDSA, the indicated hash algorithms into the “signedAttrs” - ”Second Algorithm” column are used as part of the private key signing operation.

> signatureAlgorithm: The signatureAlgorithm MUST contain one of the
> the Composite Signature algorithm identifiers as specified in
>  Section 7.1}

signatureAlgorithm: The signatureAlgorithm MUST contain one of the
the Composite Signature algorithm identifiers as specified in
Section 8.1.

**Proposal for option (2):**
(Version a and b)
Section 8.2
(…)
> When signed attributes are present, a hash is computed over the content using the hash
> function specified in Section 8.1, and then a message-digest attribute is constructed to contain 
> the resulting hash value, and then the result of DER encoding the set of signed attributes, 
> which MUST include a content-type attribute and a message-digest attribute, and then the 
> composite signature is computed over the DER-encoded output.  In summary:

When signed attributes are present, a hash is computed over the content using the hash function specified in Section 8.1 for the the ML-DSA component and the hash function specified in the column “Second Algorithm” of table 2 for traditional component, and then a message-digest attribute is constructed to contain the resulting hash value, and then the result of DER encoding the set of signed attributes, which MUST include a content-type attribute and a message-digest attribute, and then the composite signature is computed over the DER-encoded output.  In summary:
(…)

> digestAlgorithm: Per Section 5.3 of [RFC5652], the digestAlgorithm
> contains the one-way hash function used by the CMS signer.  To ensure
>  collision resistance, the identified message digest algorithm SHOULD
>  produce a hash value of a size that is at least twice the collision
>  strength of the internal commitment hash used by ML-DSA component
>  algorithm of the Composite Signature.

**Version a:**
digestAlgorithm: Per Section 5.3 of [RFC5652], the digestAlgorithm contains the one-way hash function used by the CMS signer. For composite signatures, this field contains a special OID indicating a pair of hash algorithms: the first is for the PQ component and the second is for the traditional component, as shown in the following table x:

![Image](https://github.com/user-attachments/assets/331e9df8-7f15-46b6-b271-b82f4b22b350)
Table x: Composite pair hash algorithms for CMS

When signing with the Composite Hash Algorithms the digestAlgorithm – AlgorithmIdentifier – algorithm field MUST contain one of the OIDs from the “OID” column in the table x, and the digestAlgorithm – AlgorithmIdentifier – parameters field MUST be absent. 

In case of the ML-DSA component, to ensure collision resistance, the identified message digest algorithm SHOULD produce a hash value of a size that is at least twice the collision strength of the internal commitment hash used by the ML-DSA component algorithm of the Composite Signature. Implementations that conform to this specification, when using an algorithm other than SHA512 for the ML-DSA component, MUST use the identifiers of the composite pair hash algorithms with the other algorithm in the "First Hash Algorithm" column.

The message digest is computed on either the content being signed or the content together with the signed attributes, what is shown respectively in the table y and z below:

![Image](https://github.com/user-attachments/assets/a162a2e4-54a1-4881-ba2f-1c45adab1eab)
Table y: Component’s hash algorithms in CMS without signed attributes
Note:	In the case of the EdDSA, the indicated hash algorithms into the ”Second Algorithm” column are used as part of the private key signing operation.

![Image](https://github.com/user-attachments/assets/65b37f11-8129-4cee-bbd4-f0eb43976463)
Table z: Component’s hash algorithms in CMS with signed attributes
Note:	In the case of the EdDSA, the indicated hash algorithms into the “signedAttrs” - ”Second Algorithm” column are used as part of the private key signing operation.

> signatureAlgorithm: The signatureAlgorithm MUST contain one of the
> the Composite Signature algorithm identifiers as specified in
>  Section 7.1}

signatureAlgorithm: The signatureAlgorithm MUST contain one of the
the Composite Signature algorithm identifiers as specified in
Section 8.1.

**Version b:**
digestAlgorithm: Per Section 5.3 of [RFC5652], the digestAlgorithm contains the one-way hash function used by the CMS signer. For composite signatures, this field could contains a special OID indicating a pair of hash algorithms: the first is for the PQ component and the second is for the traditional component, as shown in the following table x:

![Image](https://github.com/user-attachments/assets/71ef9587-966e-4d0f-b0ff-436704ff6c0f)
Table x: Composite pair hash algorithms for CMS

When signing with the Composite Hash Algorithms the digestAlgorithm – AlgorithmIdentifier – algorithm field MUST contain one of the OIDs from the “OID” column in the table x, and the digestAlgorithm – AlgorithmIdentifier – parameters field MUST be absent. 

Note: If the digestAlgorithm field contains a single hash function reference, this only applies to the traditional component, which is used in absence of signed attributes.

In case of the ML-DSA component, to ensure collision resistance, the identified message digest algorithm SHOULD produce a hash value of a size that is at least twice the collision strength of the internal commitment hash used by the ML-DSA component algorithm of the Composite Signature. Implementations that conform to this specification, when using an algorithm other than SHA512 for the ML-DSA component, MUST use the identifiers of the composite pair hash algorithms with the other algorithm in the "First Hash Algorithm" column.

The message digest is computed on either the content being signed or the content together with the signed attributes, what is shown respectively in the table y and z below:

![Image](https://github.com/user-attachments/assets/103f5df1-a977-49e3-8a3e-facbcd704f2a)
Table y: Component’s hash algorithms in CMS without signed attributes
Note 1:	In the case of the EdDSA, the indicated hash algorithms into the ”Second Algorithm” column are used as part of the private key signing operation.
Note 2:	In case of id-shake256 the parameters field in the digestAlgorithm - AlgorithmIdentifier sequence MUST be absent. 

![Image](https://github.com/user-attachments/assets/4504bbfb-ff32-4a53-b6b4-10188b231d14)
Table z: Component’s hash algorithms in CMS with signed attributes
Note:	In the case of the EdDSA, the indicated hash algorithms into the “signedAttrs” - ”Second Algorithm” column are used as part of the private key signing operation.

> signatureAlgorithm: The signatureAlgorithm MUST contain one of the
> the Composite Signature algorithm identifiers as specified in
>  Section 7.1}

signatureAlgorithm: The signatureAlgorithm MUST contain one of the
the Composite Signature algorithm identifiers as specified in
Section 8.1.



Due to the sheer size of this comment, we have decided to remove the Use in CMS section from this document so that we can focus first on getting the algorithm specifications through WGLC, and then we will submit a new document which is Composite in CMS.

So going carefully through Piotr's comment is differed until later.