Issue with ASN.1 - OCTET STRING Wrapping - Applies to Signatures as well

Composite KEM Authors:

I am confused by this:

   kema-CompositeKEM {
     OBJECT IDENTIFIER:id,
       PUBLIC-KEY:publicKeyType }
       KEM-ALGORITHM ::= {
            IDENTIFIER id
            VALUE OCTET STRING
            PARAMS ARE absent
            PUBLIC-KEYS { publicKeyType }
            SMIME-CAPS { IDENTIFIED BY id }
           }

In Section 6, you say:

   While composite ML-KEM keys and ciphertext values MAY be used raw,
   the following sections provide conventions for using them within
   X.509 and other PKIX protocols such that Composite ML-KEM can be used
   as a drop-in replacement for KEM algorithms in PKCS#10 [RFC2986], CMP
   [RFC4210], X.509 [RFC5280], and related protocols.

These two are in conflict.  The ASN.1 is calling for a OCTET STRING wrapper.

I think you want:

   kema-CompositeKEM {
     OBJECT IDENTIFIER:id,
       PUBLIC-KEY:publicKeyType }
       KEM-ALGORITHM ::= {
            IDENTIFIER id
            -- VALUE has no ASN.1 wrapping --
            PARAMS ARE absent
            PUBLIC-KEYS { publicKeyType }
            SMIME-CAPS { IDENTIFIED BY id }
           }

Russ

Related comment from Russ:

I think you want to carry the serialized public key and the serialized signature value without ASN.1 wrapping.

That would be:

   pk-CompositeSignature {OBJECT IDENTIFIER:id}
       PUBLIC-KEY ::= {
          IDENTIFIER id
          -- KEY without ASN.1 wrapping --
          PARAMS ARE absent
          CERT-KEY-USAGE
              { digitalSignature, nonRepudiation, keyCertSign, cRLSign }
       }
 
   sa-CompositeSignature{OBJECT IDENTIFIER:id,
      PUBLIC-KEY:publicKeyType }
         SIGNATURE-ALGORITHM ::=  {
            IDENTIFIER id
            -- VALUE without ASN.1 wrapping --
            PARAMS ARE absent
            PUBLIC-KEYS {publicKeyType}
         }

Russ
