Several editorial and clarifying changes to version 04

(in order of appearance in the composite-sigs-04 document):
1. Section 1
> compatiblity

compatibility

2. Section 3
no period at the end of the sentence: Sign(sk, Message) -> (signature) (...)

3. Section 4
> Composite ML-DSA Functions

Composite/HashComposite ML-DSA Functions

Justification: as stated in section 3.1, the document distinguishes between "Composite-ML-DSA" and "HashComposite-ML-DSA", and this section discusses both variants.

4. Section 4.2.1
> Note that there are two different context strings ctx here: the first is
> the application context that is passed in to Composite-ML-
> DSA.Sign and bound to the composite signature combiner. The
> second is the ctx that is passed down into the underlying ML-
> DSA.Sign and here Composite-ML-DSA itself is the application that
> we wish to bind, and outer ctx is already contained within the M'
> message.

Note that there are two different context strings ctx here: the first is the application context that is passed into Composite-ML-DSA.Sign and bound to the composite signature combiner (by default it is an empty string). The second is the ctx that is passed down into the underlying ML-DSA.Sign (is always set to the domain separator value) and here Composite-ML-DSA itself is the application that we wish to bind, and outer ctx is already contained within the M' message.

Justification: editorial change "in to" to "into" and addition of clarification consistent with the definitions in the document, which seems justified in the context of the doubts raised by Gullin (issue#119).
The same change in 4.2.2, 4.3.1 and 4.3.2.

5. Section 4.3.2
> This mode mirrors HashML-DSA.Verify(pk, M, signature, ctx, PH) defined in Section 5.4.1 of [FIPS.204].

This mode mirrors HashML-DSA.Verify(pk, M, signature, ctx, PH) defined in Algorithm 5 Section 5.4.1 of [FIPS.204].

Justification: indicating the algorithm maintains consistency with other sections of the document, e.g. 4.3.1.

6. Section 4.4 
>the the

the
The same in Section 4.5.

7. Section 4.6
>propertly

properly
>deserialzie 

deserialize

8.Section 7.3
>Table 4

Table 4 PURE ML-DSA Composite Signature Domain Separators

9. Section 7.4
>i.e

i.e.
The same in Section 11.4.

10. Section 7.5.3
> The RSA component keys MUST be generated at the 4096-bit
> security level in order to match that of ML-DSA-65.
>
> As with the other composite signature algorithms, when id-
> MLDSA65-RSA4096-PSS or id-HashMLDSA65-RSA4096-PSS-SHA384
> is used in an AlgorithmIdentifier, the parameters MUST be absent.
> id-MLDSA65-RSA4096-PSS or id-HashMLDSA65-RSA4096-PSS-
> SHA384 SHALL instantiate RSASSA-PSS with the following
> parameters:

The RSA component keys MUST be generated at the 4096-bit security level in order to match that of ML-DSA-65 or ML-DSA-87.

As with the other composite signature algorithms, when id-MLDSA65-RSA4096-PSS, id-HashMLDSA65-RSA4096-PSS-SHA512, id-MLDSA87-RSA4096-PSS or id-HashMLDSA87-RSA4096-PSS-SHA512 is used in an AlgorithmIdentifier, the parameters MUST be absent.
id-MLDSA65-RSA4096-PSS, id-HashMLDSA65-RSA4096-PSS-SHA512, id-MLDSA87-RSA4096-PSS or id-HashMLDSA87-RSA4096-PSS-SHA512 SHALL instantiate RSASSA-PSS with the following parameters:

Justification: changing SHA384 to SHA512 and adding MLDSA87.

11. Section 8.3
> When using composite signatures for CMS, the context string is the
> empty string.

When using composite signatures for CMS, the context string used in the composite signature combiner is the empty string.

Justification: since we have clarified that there are two different ctx, it should be added consistently in Section 8.3 also.

12. Section 11.1
> proctected

protected
> implemtation

implementation

13. Section 11.2
>Exitential

Existential

14. Section11.3
>possibilty

possibility

15. Section 11.4
> id-MLDSA65-ECDSA-P256-SHA512

id-MLDSA65-ECDSA-P256

16. Appendix B
Table 9:
> | ecdsa-with-SHA512 | 1.2.840.10045.4.3.4 | [RFC5758] |

| ecdsa-with-SHA384 | 1.2.840.10045.4.3.3 | [RFC5758] |
> | sha512WithRSAEncryption | 1.2.840.113549.1.1.13 |[RFC8017] |

| sha384WithRSAEncryption | 1.2.840.113549.1.1.12 |[RFC8017] |

> Table 11: Hash algorithms used in Composite Constructions

Table 11: Hash algorithms used in pre-hashed Composite
Constructions to build PH element

Justification: "Composite Constructions" seems too general in this context, as it applies to both Pure and pre-hashed modes; it could lead to incorrect conclusions.

One more:
17. Section 8.1
> relevant

irrelevant

A few more:
18. Section 4.1
> CompositeSignaturePublicKey
CompositeSignaturePrivateKey

CompositeMLDSAPublicKey
CompositeMLDSAPrivateKey

19. Section 8.2
> (...)  as specified in
   Section 8.1}

(...) as specified in
   Section 7.1.

20.  Section 4.4 and 4.5

a) "key" can be a public key or a private key, but later transformations are defined that concern the public key only , in particular the following is written only: bytes = encodedLength || mldsaEncodedPK || tradEncodedPK.

b) why do we verify the length of the MLDSA public key against the value 2^32 in step 3, since Table 1 indicates acceptable key lengths, of course much smaller?
Furthermore, "message too long" for the key seems to be inappropriate.

c) we only specified the IntegerToBytes function, which is suitable for OCTET STRING (private keys), and we did not also specify BitsToInteger, which is suitable for BIT STRING (public keys and signature values).

d) instead of "mldsaEncodeKey" it should probably be "mldsaEncodedKey".

e) in step 2 of the Serialization Process it is (...) as shown in the component algorithm appendix, and probably should be "as shown in the component algorithm in Appendix B".

f) in step 3 of the Serialization Process concerning the mldsaEncodedSignature there is a mldsaEncodeKey; also the same remark for the 2^32 byte limit for the signature value, since Table 1 contains the relevant values.



> a) "key" can be a public key or a private key, but later transformations are defined that concern the public key only , in particular the following is written only: bytes = encodedLength || mldsaEncodedPK || tradEncodedPK.

New working draft already separates  private and public keys adressing this issue.

> b) why do we verify the length of the MLDSA public key against the value 2^32 in step 3, since Table 1 indicates acceptable key lengths, of course much smaller? Furthermore, "message too long" for the key seems to be inappropriate.

removed in PR #139 

> c) we only specified the IntegerToBytes function, which is suitable for OCTET STRING (private keys), and we did not also specify BitsToInteger, which is suitable for BIT STRING (public keys and signature values).

Serialization sections are more general now, no need for conversion functions anymore

> d) instead of "mldsaEncodeKey" it should probably be "mldsaEncodedKey".

Serialization section now expects already byte encoded keys, so "mldsaEncodeKey" is discarded.

> e) in step 2 of the Serialization Process it is (...) as shown in the component algorithm appendix, and probably should be "as shown in the component algorithm in Appendix B".
> f) in step 3 of the Serialization Process concerning the mldsaEncodedSignature there is a mldsaEncodeKey; also the same remark for the 2^32 byte limit for the signature value, since Table 1 contains the relevant values.

Overhauled section does not contain this anymore.





