Choose a single encoding for each primitive

This ticket a checklist that we have picked a single encoding for each underlying primitive.

* ML-DSA
  * Pub: Raw
  * Priv: Raw Seed
  * Sig: Raw
* RSA
  * Pub: ____
  * Priv: ____
  * Sig: ____
* ECDSA
  * Pub: ____
  * Priv: ____
  * Sig: ____
* EdDSA
  * Pub: ____
  * Priv: ____
  * Sig: ____

This information should be inserted into the draft either as a list or as a table.

Relates to #244 

I think we have made the key format decisions, we just need to document them more clearly: 

I think this should be combined with Dan's consolidated table in https://github.com/lamps-wg/draft-composite-sigs/pull/254

We currently have this in https://github.com/lamps-wg/draft-composite-sigs/pull/235/files

For ML-DSA we have this in 
- **ML-DSA**: MUST be encoded as specified in [FIPS.204], using a 32-byte seed as the private key.
- TODO mention public key encoding.  
- TODO mention signature

For RSA we have this in the draft:

- the public key MUST be encoded as RSAPublicKey with the `(n,e)` public key representation as specified in A.1.1 of [RFC8017] and the private key representation as RSAPrivateKey specified in A.1.2 of [RFC8017] with version 0 and 'otherPrimeInfos' absent.
- For RSA Signatures, I believe it is already covered and depends on the particular composites in the table in {#sec-alg-ids} though we specific signature encodings should probably be mentioned for PSS and PKCS15
- TODO mention signatures for PKCS15 and PSS

For ECDSA:
- *ECDSA**: public key MUST be encoded as an uncompressed `ECPoint` as specified in section 2.2 of [RFC5480]. A signature MUST be encoded as an `Ecdsa-Sig-Value` as specified in section 2.2.3 of [RFC3279]. The private key MUST be encoded as ECPrivateKey specified in [RFC5915] without 'NamedCurve' parameter and without 'publicKey' field.

For EdDSA:
- **EdDSA**: public key and signature MUST be encoded as per section 3 of [RFC8032] and the private key as CurvePrivateKey specified in [RFC8410].

For ML-DSA:
- For Public and signature - RAW means the ASN.1 type RAW, not ASN.1 OCTET STRING

TODO - Code bug - ECDSA public key is RAW value, not an ECPoint (X9.62)...  Need new Ticket


August 28th,  With this discussion, we have agreed on the formats of the keys as required by the working group.
 

While #235 makes the public and private key encodings more specific, I think the draft should have specific references for signatures in the Serialization section, even if there aren't multiple options for them.

So I think you are saying we need to add a reference for a few places identified above (RSA PKCS1.5, ML-DSA in this algorithm reference table):   https://github.com/lamps-wg/draft-composite-sigs/blob/main/src/algParams.md
