Editorial notes for version 05 composite-signs from June 4, 2025

1.	Section 3
> KeyGen() -> (pk, sk): A probabilistic key generation algorithm which generates a public key pk and a secret key sk.

KeyGen() -> (pk, sk): A probabilistic key generation algorithm which generates a public key pk and a secret key sk; in case of ML-DSA sk is in the form of seed.

> KeyGen(seed) -> (pk, sk): A deterministic key generation algorithm which generates a public key pk and a secret key sk from a seed.

KeyGen(seed) -> (pk, sk): A deterministic key generation algorithm which generates a public key pk and a secret key sk from a seed; that function relates to ML-DSA algorithm only.

Justification: editorial change to improve understanding of the rest of the document.

2.	Section 3
> SerializeKey(key) -> bytes: Produce a byte string encoding the public or private key. 
> DeserializeKey(bytes) -> pk: Parse a byte string to recover a public or private key. This function can fail if the input byte string is malformed.

SerializePublicKey/SerializePrivate(key) -> bytes: Produce a byte string encoding the public or private key accordingly. 

DeserializePublicKey/DeserializePrivateKey(bytes) -> pk/sk: Parse a byte string to recover a public or private key accordingly. This function can fail if the input byte string is malformed.

Justification: the document uses separate functions for each key type, hence this editorial change ensures consistency with the rest of the document.

3.	Section 3
> SerializeSignatureValue(signature) -> bytes: Produce a byte string encoding the CompositeSignatureValue.

SerializeSignatureValue(signature) -> bytes: Produce a byte string encoding the CompositeSignatureValue containing the component signature values. 

Justification: editorial change aimed at better understanding of the document.

> DeserializeSignatureValue(bytes) -> signature: Parse a byte string to recover a CompositeSignatureValue. This function can fail if the input byte
> string is malformed.

DeserializeSignatureValue(bytes) -> signature: Parse a byte string to recover a component signature values from the CompositeSignatureValue. This function can fail if the input byte string is malformed.

Justification: The Composite SignatureValue is not recovered, the individual components are recovered from the CompositeSignatureValue.

4.	Section 4.3
> signature   CompositeSignatureValue containing the component
>                   signature values (mldsaSig and tradSig) to be verified.

signature   CompositeSignatureValue containing the component
                 signature values (r, mldsaSig and tradSig) to be verified.

Justification: the addition of the r component is an editorial change intended to ensure consistency with other provisions of the document.

5.	Section 4.3
> 3. Check the length of r
>     if len(r) != 32
>       return error

I suggest removing this check. 
Justification: while the lengths of the mldsaSig are fixed, as per chapter 5 we allow for different lengths of traditional elements. Although chapter 5 does not provide a clear example of possible different encodings of the traditional algorithm signature value (keys only), there is also no exclusion for different lengths of traditional algorithm signatures, and furthermore chapter 5.3 clearly indicates that the signature lengths of RSA and ECDSA algorithms can be different, so in this context checking the length of the first element of the signature is not justified. 
Note: removing it will restore the correct numbering.

6.	Section 5
> EdDSA: MUST be encoded as per section 3.1 of [RFC8032].

EdDSA: MUST be encoded as per section 3 of [RFC8032].

Justification: reference should also be made to other subchapters, e.g. 3.3, which concerns the signature.

7.	Section 5.3
Incorrect numbering of the deserialization process.

8.	Section 6
> The following sections provide processing logic and the necessary ASN.1 modules necessary to use composite ML-DSA within X.509 
> and PKIX protocols.

The following sections provide processing logic and the ASN.1 modules necessary to use composite ML-DSA within X.509 and PKIX protocols.

Justification: removal “necessary”.

9.	Section 7.3
> ie

i.e.


Thank you again for your very sharp eyes! I think at this point you have read this document more times than we have!

@ounsworth @janklaussner 
I see that the comments were useful :), although why was no. 4 omitted?; intentionally or by mistake?

In my opinion, the r component should be added to the "s" (signature) description.

Thanks Piotr,

The latest version of the draft in main does include a description of the r value being added to the signature as far as I can tell.
https://github.com/lamps-wg/draft-composite-sigs/edit/main/draft-ietf-lamps-pq-composite-sigs.md  